<div class="calculator">
    <div class="input__wrapper">
        <div class="converter__input">
            <input (ngModelChange)="convertMath()" [(ngModel)]="input1" type="number" class="number-field">
            <select (ngModelChange)="getCourses()" [(ngModel)]="base1" name="" id="" class="valute__select">
                <option *ngFor="let baseValute of coursesObj | keyvalue" [ngValue]="baseValute.key">{{baseValute.key}} - {{valueParse(baseValute.value | json)}}</option>
            </select>
        </div>
        <input class="changerButton" value="⇋" type="button" (click)="changeValute()">
        <select (ngModelChange)="getCourses()" [(ngModel)]="base2" name="" id="" class="valute__select second-select">
            <option *ngFor="let baseValute of coursesObj | keyvalue" [ngValue]="baseValute.key">{{baseValute.key}} - {{valueParse(baseValute.value | json)}}</option>
        </select>
    </div>
    <div class="course">
        <span class="valute__text">{{input1}} {{base1}}</span>
        <div class="bottom__text">
            <span class="course__text">{{convertMath()}}</span>
            <span class="valute__text">{{base2}}</span>
        </div>
    </div>
</div>
